NODE_ENV=development
PORT=8080
DATA_DIR=./database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=medicare_db
ADMIN_EMAIL=
ADMIN_PASSWORD=
AI_API_KEY=
PAYMENT_PROVIDER=
PAYMENT_SECRET_KEY=
EMAIL_API_KEY=